$main_blue: #127FFF;
$main_green: #377D0F;
$main_green_light: #CAE7BC;
$main_red: #DF342E;
$main_red_light: #FDE9E6;
$main_dark_gray: #79879C;
$main_black_light: #1B1D22;

.button_primary {
    background-color: $main_green;
}